.home{
    @media only screen and (min-width: 0px){
        flex: 11;
    }
    @media only screen and (min-width: 1200px){    
        flex: 12;
    }
    @media only screen and (min-width: 1550px){    
        flex: 10;
    }
    
    
    margin-left: 3%;
    
    & > .content{
        margin-bottom: 15%;
    }
}