/* html {
  background-image: radial-gradient(circle at top left, #006494, 80%, #1427B8);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  opacity: 1;
  position: fixed;
}

body {
  margin: 0;
  font-family: "Oswald";
  font-weight: 200;
  color: #D1E2F0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  padding: 0;
  color: #D1E2F0;
}