/*
https://coolors.co/2f6c23-eff5fa-354ae9
*/
$white: #D1E2F0;
$whiter-white: #EFF5FA;
$mantis: #84D274;
$blue: #006494;
$dark-blue: #1427B8;
$black: #090a11;
$text-shadow: rgb(27, 25, 25);
